.jumbotron {
    background-image: url('../assets/images/hero.svg');
    background-position: center;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

h1 {
    font-family: brother-1816, sans-serif;
    font-style: bold;
    font-weight: 700;
}

h6 {
    font-family: brother-1816, sans-serif;
    font-style: normal;
    font-weight: 100;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.expbtn {
    background-image: url('../assets/images/btn.svg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.expbtn:hover {
    animation: expbtn 1s linear forwards;
}

@keyframes expbtn {
    0% {
        background-image: url('../assets/images/btn.svg');
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
    100% {
        background-image: url('../assets/images/btnhover.svg');
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
}

.svghover {
    display: inline-block;
}

.svghover:hover path{
    fill: indianred;
}

#scroll1 {
    height: 4px;
}

#scroll2, #scroll4, #scroll5, #scroll6, #scroll7 {
    height: 32px;
}

#scroll3 {
    height: 44px;
}

.clickthrough {
    pointer-events: none;
}

.stretched-text {
  transform-origin: center;
  transition: transform 0.15s;
}

#widesvg {
    width: 100%;
    height: auto;
}

#widesvg2 {
    width: 100%;
    height: auto;
}